/* CSS Stylesheet for the chat */

/* The container of the chat */
.chat-container {
    -fx-border-color: #f2f2f2;
    -fx-border-width: 2px 0px 0px 0px;
}

/* Chat messages container */
.chat {
    -fx-background-color: white;
}

/* A single chat message */
.chat-msg {
    -fx-font-family: "Work Sans Regular", Arial, Helvetica;
    -fx-padding: 0.3em 0em 0.3em 0.3em;
    -fx-font-size: 1.03em;
    /* Fake border to align with highlighted messages */
    -fx-border-width: 0em 0.25em 0em 0.25em;
    -fx-border-color: white;
}

/* The username in the chat */
.chat-username {
    -fx-font-weight: bold;
}

/* A twitch emote */
.twitch-emote-container {
    -fx-padding: 0em 0.3em 0em 0em;
}

.twitch-emote {
    -fx-cursor: hand;
}

/* Deleted message */
.deleted {
    -fx-opacity: 0.4;
}

.chat-msg.grey {
    -fx-padding: 0.6em 0em 0.6em 0.3em !important;
}

/* First time message */
.first-time {
    -fx-background-color: #c832c81A;
    -fx-border-width: 0em 0.25em 0em 0.25em;
    -fx-padding: 0.6em 0em 0.6em 0.3em; /* slightly bigger than regular messages */
    -fx-border-color: #c832c8;
}