/* https://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/ */

.scroll-bar:horizontal ,
.scroll-bar:vertical {
    -fx-background-color:transparent;
    -fx-pref-width: 8;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 12 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 12 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track ,
.scroll-bar:vertical .track {
    -fx-background-color: derive(#434343,20%);
    -fx-opacity: 0.2;
	-fx-border-color:derive(gray,80%);
	-fx-border-radius: 2em;
	-fx-background-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:vertical .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(#9147ff,10%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

/* Grey version */
.grey-scrollbar > .scroll-bar:vertical .thumb,
.grey-scrollbar > .scroll-bar:vertical .thumb{
    -fx-background-color: derive(#e0e0e0, -20%);
}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

.scroll-bar:horizontal:hover .track ,
.scroll-bar:horizontal:pressed .track ,
.scroll-bar:vertical:hover .track,
.scroll-bar:vertical:pressed .track{
	 -fx-opacity: 0.3;
	 -fx-background-radius: 2em;
}