.root {
    -fx-accent: #9147ff;
    -fx-focus-color: #9147ff;
    -fx-font-family: Helvetica;
}

.title {
    -fx-font-weight: 600;
    -fx-font-size: 1.6em;
    -fx-text-fill: #9147ff;
}

#twitch-logo {
    -fx-padding: 10;
}

/* Sidemenu and its buttons */

#side-menu {
    -fx-background-color:  #f2f2f2;
    -fx-effect: innershadow(three-pass-box, #00000040, 2, 0, 0, 0);
}

.menu-btn {
    -fx-background-radius: 0px;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
    -fx-text-fill: #9147ff;
    -fx-font-color: #9147ff;
    -fx-padding: 10 10 10 50;
    -fx-font-size: 1.1em;
}

.menu-btn > .label {
    -fx-background-radius: 0px;
    -fx-text-fill: #9147ff;
}

.menu-btn:hover > .label {
    -fx-text-fill: white;
}

.menu-btn:hover {
    -fx-text-fill: white;
    -fx-font-color: white;
    -fx-background-color: #9147ff;
}

.active {
    -fx-text-fill: white;
    -fx-font-color: white;
    -fx-background-color: #9147ff;
}

.active: hover {
     -fx-background-color: derive(#9147ff, -20%);
}

.active > .label {
     -fx-text-fill: white;
}

/* Drop Shadow for listpanels */
#list-grid {
    -fx-background-color: white;
    -fx-effect: innershadow(three-pass-box, #00000020, 2, 0, 0, 1);
}

/* Utils */

.white-bg {
    -fx-background-color: white;
}

.inherit-text-color {
    -fx-text-fill: inherit;
}

/* Generic class for everything that need to be somewhat grey */
.grey {
    -fx-border-radius: 5px;
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #4f4f4f;
    -fx-font-color: #4f4f4f;
    -fx-background-radius: 3px;
    -fx-padding: 10px;
    -fx-font-family: Helvetica;
}

.grey > .label {
    -fx-text-fill: #4f4f4f;
}

.button:hover.grey {
    -fx-background-color: #e0e0e0;
}

/* Generic class for everything that need to be somewhat purple */
.purple {
    -fx-border-color: #9147ff;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: #9147ff;
    -fx-font-color: #9147ff;
    -fx-background-radius: 3px;
}

.purple-checkbox *.box {
    -fx-background-color: #f2f2f2;
}

.purple-checkbox:selected .mark {
    -fx-mark-highlight-color: #9147ff;
    -fx-mark-color: #9147ff;
}

.purple-text {
    -fx-text-fill: #9147ff;
}

.purple-text .{
    -fx-text-fill: #9147ff;
}

.purple-text-container .label {
    -fx-text-fill: #9147ff;
}

.purple > .label {
    -fx-text-fill: #9147ff;
}

.bold {
    -fx-font-weight: bold;
}

.clickable {
    -fx-cursor: hand;
}

.button:hover, .card-img:hover {
    -fx-cursor: hand;
}

.progress-indicator {
    -fx-progress-color: #9147ff;
}

.panel {
    -fx-background-color: white;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.pane {
    -fx-background-color: #9147ff;
}

.pane .label{
    -fx-background-color: #9147ff;
    -fx-text-fill: white;
}

.padding-0.5em {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em !important;
}

.padding-0.5em-no-side {
    -fx-padding: 0.5em 0em 0.5em 0em !important;
}

.padding-1em {
    -fx-padding: 1em !important;
}

.padding-1em-no-top {
    -fx-padding: 0em 1em 1em 1em !important;
}

.padding-1em-no-bottom {
    -fx-padding: 1em 1em 0em 1em !important;
}

.margins-1em {
    -fx-padding: 2em;
    -fx-border-insets: 1em;
    -fx-background-insets: 1em;
}

.margins-0.5em-no-side {
    -fx-padding: 1em 0em 1em 0em;
    -fx-border-insets: 0.5em 0em 0.5em 0em;
    -fx-background-insets: 0.5em 0em 0.5em 0em;
}

.tooltip {
    -fx-background-color: rgba(148, 71, 255, 0.90);
    -fx-text-fill: white;
    -fx-font-size: 1.05em;
    -fx-shape: "M 1 1 L 8 1 L 8 6 L 1 6";
}

/* Text field to send a message */
.text-field {
    -fx-border-color: #f2f2f2; /* placeholder for the border */
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-background-color:  #f2f2f2;
    -fx-padding: 13px;
    -fx-font-family: "Work Sans Regular", Helvetica;
}

.text-field:focused {
    -fx-border-color: #9147ff;
}

.tab-pane > .tab-header-area {
    -fx-padding: 0px;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}

.tab {
    -fx-cursor: hand;
    -fx-padding: 5px 15px 5px 15px;
    -fx-background-color: white;
}

.tab:hover {
    -fx-background-color: #f8f8f8;
}

.tab:selected {
    -fx-border-color: #f2f2f2;
    -fx-background-color: #f2f2f2;
    -fx-focus-color: transparent;
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

/* Panels */

#main-panel {
    -fx-background-color: white;
    -fx-unit-increment: 10;
    -fx-block-increment: 5;
}

#login-label {
    -fx-text-fill: #9147ff;
    -fx-font-weight: bold;
}

/* The profile picture displayed in the stream detail */
.profile-pic {
    -fx-width: 20px;
}

/* Dialogs */
.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane:header *.header-panel{
    -fx-background-color: white;
}

.dialog-pane > .content .text-field {
    -fx-padding: 10px !important;
}

.dialog-pane > .button-bar > .container > .button {
    -fx-border-color: #9147ff;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: #9147ff;
    -fx-font-color: #9147ff;
    -fx-background-radius: 3px;
}

/* controlsfx */

.popover > .content > .title > .icon > .graphics > .circle {
	-fx-fill: white ;
}

.popover .button {
    -fx-background-color: #9147ff !important;
    -fx-font-color: white !important;
    -fx-text-fill: white !important;
    -fx-background-radius: 3px !important;
}

.popover .label {
    -fx-text-fill: #9147ff;
    -fx-text-alignment: center;
    -fx-alignment: top-center;
}

.info-overlay > .info-panel {
    -fx-background-color: rgba(145, 71, 255, 0.92) !important;
    -fx-opacity: 1 !important;
}

.notification-pane.top .notification-bar > .pane {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 3, 0, 0, 2) !important;
}

.info-overlay > .info-panel > .label {
    -fx-font-color: white !important;
    -fx-text-fill: white !important;
}